node_modules/
*.log
new-release

dist/
/packages/authgear-node-client/index.d.ts
/packages/authgear-web/index.d.ts
/packages/authgear-react-native/index.d.ts
/packages/authgear-react-native/android/build/

xcuserdata/
xcshareddata/
temp/
