<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativeexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!-- WeChat SDK -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.reactnativeexample"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!-- Authgear SDK -->
        <activity
            android:name="com.authgear.reactnative.OAuthRedirectActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Configure data to be the exact redirect URI your app uses. -->
                <!-- NOTE: The redirectURI supplied in AuthorizeOptions has to match as well -->
                <data
                    android:host="host"
                    android:pathPrefix="/path"
                    android:scheme="com.authgear.example" />
                <data
                    android:host="host"
                    android:pathPrefix="/open_wechat_app"
                    android:scheme="com.authgear.example.rn" />
            </intent-filter>
        </activity>
    </application>

</manifest>
