.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.toggle {
  height: 44px;
}

.information {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  align-self: center;
}
